/* rpg styles */

body{

    background-color: antiquewhite;
    margin: 0 auto;
    align-content: center;
    text-align: center;

}

#game-window {
    /* max-width: 600px; */
    width: 512px;
    height: 512px;
    border: 2px solid black;
    background-color: white;
    margin: auto;
}

#status-window {


    width: 512px;
    height: 400px;
    background-color: beige;
    border-top: 4px solid brown;
    overflow: hidden;
}